---
aliases:
  - "{{ .Index }}. {{ .Title }}"
tags:
  - frontend-masters/{{ .CourseSlug }}
{{- .Tags | formattags -}}
---

# {{ .Index }}. {{ .Title }}

{{ with .Annotations }}
## Annotations
{{ . | formatannotations }}
{{ end -}}
